@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: #201b2c;
}